@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../assets/icon/themify-icons/themify-icons.css';
@import '../assets/icon/font-awesome/css/font-awesome.min.css';
@import '../assets/css/jquery.mCustomScrollbar.css';
@import '../assets/pages/chart/radial/css/radial.css';
@import '../assets/css/style.css';

.container {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex: 1;
}

.content-main {
  flex: 1;
}

.content-nav {
  flex: 0 0 12em;
  order: -1;
}
